body {
    margin: 0;
    font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
}

header {
    position: sticky;
    top: 0;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    border-bottom: 0.2px solid #c7c7c7;
    z-index: 1;
}

main {
    padding: 2rem;
}

#header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.image-container {
    display: inline-block;
    position: relative;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.hover {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.18);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.image-container:hover .hover {
  opacity: 1;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.overlay img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.clickable {
    font-size: 8rem;
    color: white;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 4rem;
    font-size: 5rem;
}


/* mobile size */
@media (max-width: 768px) { 
    header {
        display: block;
        padding: 1rem 2rem
    }

    body {
        text-align: center;
    }
}

@font-face {
  font-family: 'Lora';
  src: url('fonts/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}