body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    position: sticky;
    top: 0;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    border-bottom: 0.2px solid #c7c7c7;
    z-index: 1;
}

main {
    padding: 2rem;
}

#header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.image-container {
    display: inline-block;
    position: relative;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.18);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

/* mobile size */
@media (max-width: 768px) { 
    header {
        display: block;
    }

    body {
        text-align: center;
    }
}

/* desktop size */
@media (min-width: 769px) { 

}